  body{ 
  background-color: azure; 
 background: repeating-linear-gradient(
    135deg,                       /* angle */
  #f8f9fa,                      /* very light gray */
     #f8f9fa 20px,
    #e0f7fa 20px,
    #e0f7fa 40px
  ); }




 
 body::before{
content: "";
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.1);
z-index: 1;

}
 p{
  position: relative;
  z-index: 1;
}

p{
  font-size: medium;
  font-weight: bold;
  
}
.donateimg{
  
  height: 300px;
  width: 100%;
}