/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
  /*background: #bfcee4;*/
  color: #333;
    background:linear-gradient(to right,#ccc,#4ca1af,#ccc);
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.outer {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.time_left {
  color: crimson;
  font-weight: bold;
  text-align: right;
}

a {
  display: inline-block;
  margin: 10px 0;
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

.payment {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.left,
.right {
  flex: 1;
  min-width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-number-box,
.input {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
  border-radius:  40px 2px 40px 2px;
    background:linear-gradient(to right,#ccc,#4ca1af,#ccc);
    outline: none;
    color: #fff;
    transition: all 0.3s ease;
}

button {
 
  padding: 15px;
  background-color: #007bff;
  border: none;
  border-radius:  40px 2px 40px 2px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;


}

button:hover {
  background: linear-gradient(to right,#bdbcbc,#418994,#ccc);
  text-shadow: #2c3e50;
  color:#02373e;
}

.card-virtual {
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  padding: 20px;
  color: rgb(240, 163, 163);
  border-radius: 12px;
  margin-bottom: 20px;
  min-height: 200px;
  position: relative;
}

.card-virtual .highlight {
  margin-top: 20px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.receipt {
  background: #f0f0f0;
  border-radius: 10px;
  padding: 15px;
}

.receipt ul {
  list-style: none;
  margin-bottom: 15px;
  
}

.receipt li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  
}

.total {
  text-align: right;
}

.total .price {
  font-size: 24px;
  color: #00ff3c;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .payment {
    flex-direction: column;
  }
}
strong{
  color: #007bff;
}
/*
.last-digit{



}*/