* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-image: url(islam.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    background-image: repeating-linear-gradient(
          45deg,
          #be0b31 0%,
          #be0b31 10%,
          #ffffff 10%,
          #ffffff 20%
          );
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    

}

.containerlogin {
    position: relative;
    width: 850px;
    height: 550px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    background: transparent;
    backdrop-filter: blur(5px);
    
}

.loginform {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    background: transparent;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}

form {
    width: 100%;
}

.containerlogin h1 {
    font-size: 36.4px;
    margin: -10px 0;
}

/*.containerlogin h3 {
    font-size: 25px;
    background: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet);
    background-size: 400%;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveColors 5s linear infinite;
}*/
.inputform {
    position: relative;
    margin: 30px 0;
}

.inputform input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    /* font color and weight*/
}

.inputform input::placeholder {
    font-weight: bold;

}

.inputform i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: blue;
}

.forget {
    margin: -15px 0 10px 0;

}

.forget a {
    text-decoration: none;
    font-size: 15px;
    /*color*/
}

.btm {
    width: 100%;
    height: 48px;
    background-color: pink;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.containerlogin p {
    margin: 15px 0;
    font-size: 14.5px;

}

.otherways a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid saddlebrown;
    border-radius: 8px;
    font-size: 24px;
    color: black;
    text-decoration: none;
    margin: 0 8px;
}

.inputform button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.loginform.regist {
    visibility: hidden;
}

.toggle-box {
    position: absolute;
    height: 100%;
    width: 100%;
}

.toggle {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    transition: 0.6s ease-in-out;
}

.toggle p {
    margin-bottom: 20px;
}

.toggle .btm {
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid white;
    box-shadow: none;
}

.toggle-box::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    border-radius: 150px;
    z-index: 2;
    background-color: brown;
    transition: 1.8s ease-in-out;
}

.toggle.rightway {
    right: -50%;
    transition-delay: 0.6s;

}

.containerlogin.active .toggle-box::before {
    left: 50%
}

.toggle.leftway {
    left: 0;
    transition-delay: 1.2s;
}

.containerlogin.active .toggle.leftway {
    left: -50%;
    transition-delay: 0.6s;
}

.containerlogin.active .toggle.rightway {
    right: 0;
    transition-delay: 1.2s;
}

.containerlogin.active .loginform {
    right: 50%;
}

.containerlogin.active .loginform.regist {
    visibility: visible;
}
.containerlogin.active .loginform.login {
        visibility: hidden ;
    }
    

@media screen and (max-width: 600px) {
    .containerlogin {
        height: calc(100vh - 30px);
    }

    .loginform {
        width: 100%;
        height: 70%;
        bottom: 0;
    }

    .toggle-box::before {
        top: -270%;
        left: 0;
        width: 100%;
        height: 300%;
        border-radius: 20vw;
    }

    .containerlogin.active .toggle-box::before {
        top: 70%;
        left: 0;
    }

    .toggle {
        width: 100%;
        height: 30%;
    }

    .toggle.toggle.leftway {
        top: 0;
    }

    .containerlogin.active .toggle.leftway {
        top: -30%;
        left: 0;
    }

    .toggle.rightway {
        right: 0;
        bottom: -30%;
    }

    .containerlogin.active .toggle.rightway {
        bottom: 0;
    }

    .containerlogin.active .loginform {
        right: 0;
        bottom: 30%;
    }
    .loginform{
        padding: 40px ;
    }
    .loginform.regist .inputform {
        margin : 15px 0 ;
    }
    
    
    
}

@media screen and (max-width:400px) {
    .loginform{
        padding: 40px ;
    }
    .loginform.regist h1{
        font-size: 30px;
    }

    .loginform.regist .inputform {
        margin: 10px 0;
    }

    .loginform.regist .otherways a {
        font-size: 20px;
    }

    .loginform.regist p {
        margin: 5px 0;
        font-size: 15px;

    }
    
    .toggle h1 {
        font-size: 30px;
    }

}

@keyframes moveColors {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}