body {
    background-color: rgb(20, 63, 124);
}

.navbar-brand {
    color: rgb(11, 37, 124);

}

.nav-link {
    color: rgb(89, 129, 186);
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: black;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgb(4, 14, 73);
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
    width: 100%;
    visibility: visible;
}

@media(max-width : 600px) {
    .offcanvas {
        width: 100px;
    }
}
main {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
   padding-right: 0;
   padding-left: 10px;
}
.left-side{
    width: 50%;
}
.left-side h1{
    margin-top: 15px;
    text-decoration: underline;
    color: black;
}
.course-description{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
    color: black;
    font-weight: bold;
}
/*manipulating the video styling*/
#player {
    width: 100%;
    flex: 2;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px black;
 
}

.tracker {
     position: relative;
    width: 36%;
    flex: none;
    background-color: #9dc7a779;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-size: 25px;
    padding: 15px;
    overflow-y: auto;
    height: 53vh;
    margin: 0px 50px;
    
}

.subtitle {
    padding: 10px;
    border-left: 4px solid transparent;
    margin-bottom: 8px;
    transition: 0.3s;
}

.subtitle.active {
    border-left-color: #007bff;
    background-color: #e9f1ff;
}
@media(max-width: 600px){
    main{
        flex-direction: column;
    }
   .left-side{
    width: 100%;
   }
    .tracker{
        font-size: 15px;
        width: 100%;
        margin-left: 0;
        height: 7cm;
    }
    .pass-quiz{
        order: 4;
    }
    .next-btn1{
       margin-bottom: 15px;
    }

}

.pass-quiz{
    background-color:darkblue ;
    color: rgb(197, 189, 189);
    font-weight: bold;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
}
.next-btn1{
    background-color: rgb(20, 20, 99);
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
}