* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: darkblue;
}
.app {
    background-color: #fff;
    width: 90%;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 20px;
}
.app h1 {
    font-weight: 25px;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}
.quiz {
    padding: 20px 0;

}
.quiz h2 {
    font-size: 23px;
    color: black;
    margin-bottom: 15px;
}
.btn {
    background: white;
    color: rgb(3, 3, 82);
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    border: 1px solid darkblue;
    padding: 10px;
    margin: 10px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    
}
.btn:hover:not([disabled]) {
    background-color: darkblue;
    color: white;
}
.btn:disabled {
    cursor: no-drop;
}
#next-btn , #next-btn1{
    background-color: rgb(4, 4, 59);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
   margin: 20px auto 0;
   cursor : pointer;
   display: none;
   width: 150px;
   height: 50px;
}
.correct {
    background-color: rgb(85, 239, 85);
    color: rgb(0, 0, 0);
}
.incorrect {
    background-color: rgb(195, 30, 30);
    color: black;
}
#